@model DnaDunlopBarcodeWeb.ViewModels.PartSerialNumberChangeViewModel

@{
    ViewBag.Title = "Part Serial Number Change";
}

<h2>Change Part Serial Number for @Html.DisplayFor(model => model.DepartmentName)</h2>

<div class="message">@Model.Message</div>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Change Serial Number</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OperatorSerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OperatorSerialNumber)
            @Html.ValidationMessageFor(model => model.OperatorSerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldGoodyearSerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldGoodyearSerialNumber)
            @Html.ValidationMessageFor(model => model.OldGoodyearSerialNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewGoodyearSerialNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewGoodyearSerialNumber)
            @Html.ValidationMessageFor(model => model.NewGoodyearSerialNumber)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
