@model DnaDunlopBarcodeWeb.ViewModels.DepartmentLogViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DepartmentLogViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EventName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EventName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MachineName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MachineName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PartSerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PartSerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OperatorSerialNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OperatorSerialNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataName1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataName1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataValue1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataValue1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataName2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataName2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataValue2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataValue2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataName3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataName3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataValue3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataValue3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataName4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataName4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataValue4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataValue4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataName5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataName5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataValue5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataValue5)
    </div>
</fieldset>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
